@model AirnetMVC.DataService.User
@{
    ViewBag.Title = "ViewUserDetail";
}

        UserName: <h4 class="card-title">@Model.Username</h4>
        MobileNo: 
        <br/>
        <h1 class="badge bg-primary text-end">@Model.MobileNumber</h1>
        <br/>
        EMail: <p class="card-text">@Model.Email</p>
        UserRole: <p class="card-text">@Model.UserRole</p>
    

